// 标准化 css
@import 'normalize.css/normalize.css';
@import './variables.css';


body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smothing: antialiased;
    font-family:  -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}


html {
    height: 100%;
    box-sizing: border-box;
}
